<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">  
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/123" /></div>
                      <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/123" /></div>
                      <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                      <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                      
                    <ul class="preview-thumbnail nav nav-tabs" style="display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;">
                      <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                      <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/124" /></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                      <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                       </ul>
                    </div>
              
                </div>
                <div class=" col-md-6">
                    <h3 class="product-title">{{product.title}}</h3>
                    <mat-divider></mat-divider>
                    <h4> {{product.category}} </h4>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p class="product-description"> {{product.shortDescription}} </p>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <h4><u><b>Description</b></u></h4>
                    <p> {{product.longDescription}} </p>
                    <br><br><br>
                    <p class="vote"><strong>91%</strong> of customers enjoyed this product! <strong>(87 votes)</strong></p>
                    <button mat-raised-button (click)="addReview()" color="primary">Add Review</button>
                      </div>
            </div>
        </div>
    </div>
</div>