<div class="logo">
    <a class="simple-text">
        <div class="logo-img" style="padding-right: 30px;">
            <img src="/assets/img/logo.png"/>
        </div>
           Review System
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/add-product">
                    <i class="material-icons">subject</i>
                <p>
                    Add Place
                </p>
            </a>
        </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/show-products">
            <i class="material-icons">subject</i>
            <p>
            Show Places
            </p>
        </a>
      </li>
    </ul>
</div>
